/* === GLOBAL === */

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: var(--body-font-family);
}
.heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
  @extend .heading;

  @media (min-width: 1200px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
  @extend .heading;
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  @extend .heading;
  @media (min-width: 1200px) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
  @extend .heading;
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
  @extend .heading;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  @extend .heading;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
section {
  padding-top: 40px;
  padding-bottom: 60px;
}

.primary-bg {
  background-color: var(--primary);
  color: #fff;
}

.primary-dark-bg {
  background-color: var(--primary-dark);
  color: #fff;
}